<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      First name:
      <input formControlName="firstName" placeholder="Your first name" />
    </label>
  </div>
  <div>
    <label>
      Last name:
      <input formControlName="lastName" placeholder="Your last name" />
    </label>
  </div>
  <div>
    <label>
      Username:
      <input formControlName="userName" placeholder="Your username" />
    </label>
  </div>
  <div>
    <label>
      Password:
      <input formControlName="password" placeholder="Your password" />
    </label>
  </div>
  <button type="submit">Register</button>
  <a routerLink="/log-in">Already have an account?</a>
</form>
 -->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap"
  rel="stylesheet"
/>
<meta charset="UTF-8" />
<title>Create Account</title>

<body style="background-image: 'assets/loginBackground.jpg'">
  <img id="logo" src="assets/hikingTrailMapper.svg" alt="NotFound" />
  <div class="Container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 id="forTitle">Create account</h1>
      <label for="userName" class="labels">Username</label>
      <input
        id="userName"
        class="inputFields"
        type="text"
        placeholder="Insert Username"
        formControlName="userName"
        autofocus
      /><br />
      <label for="FirstName" class="labels">Firstname</label>
      <input
        id="FirstName"
        class="inputFields"
        type="text"
        placeholder="Insert Firstname"
        formControlName="firstName"
      /><br />
      <label for="LastName" class="labels">Lastname</label>
      <input
        id="LastName"
        class="inputFields"
        type="text"
        placeholder="Insert Lastname"
        formControlName="lastName"
      /><br />
      <label for="ImageUrl" class="labels">ImageUrl</label>
      <input
        id="ImageUrl"
        class="inputFields"
        type="text"
        placeholder="Insert image url (optional)"
        formControlName="imageUrl"
      /><br />
      <label for="password" class="labels">Password</label>
      <input
        id="password"
        class="inputFields"
        type="password"
        placeholder="Insert Password"
        formControlName="password"
      /><br />
      <label for="rePassword" class="labels">Reenter Password</label>
      <input
        id="rePassword"
        class="inputFields"
        type="password"
        placeholder="Reenter Password"
      /><br />
      <button type="submit" id="CreateButton">Creat Account</button>
      <br /><br />
      <a id="signUpLink" href="./" class="formLink"
        >Already a member? Sign in!</a
      >
    </form>
  </div>
</body>
