app-map {
  height: 350px;
  width: 100%;
  display: inline-block;
}

.trail-item {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 2px 2px #909090;
  /* border: 2px solid green; */
}

.content {
  margin: 10px;
}
