<div *ngIf="trail" class="trail-item">
  <app-map [(trail)]="trailPath" [isEditable]="false"></app-map>

  <div class="content">
    <div>
      <img class="userImg" [src]="trail.user.imagePath" />{{
        trail.user.firstName
      }}
      {{ trail.user.lastName }}
    </div>
    <div>{{ trail.trailName }}</div>
    <div>{{ trail.trailDescription }}</div>
    <div>Suggested gear: {{ trail.suggestedGear }}</div>
    <div>
      Length: {{ trail.trailLength }}, Duration {{ trail.hikeDuration }}, Water:
      {{ trail.waterAvailability ? "Yes" : "No" }}
    </div>
    <a routerLink="/update-trail" *ngIf="canEdit" [queryParams]="queryParams"
      >Update trail</a
    >
  </div>
</div>
