/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

app-root {
  height: 100vh;
  display: inline-flex;
  width: 100vw;
}

.userLine {
  display: flex;
  align-items: center;
}

.userImg {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.userName {
  margin-left: 10px;
}
